
.navbar{
    color: white;
    overflow: hidden;
    z-index: 9;
    position:fixed;
    font-size: 120%;
    display: flex;
    width: 100%;
    background-color: rgb(51, 52, 53);
    height: 70px;
    margin: 0 0 0;
    box-shadow:4px 4px 8px rgb(135, 135, 135);
}
h1{
    color: #3879a8;
  font-size: 30px;
  padding-bottom: 2px;
  border-bottom: 1px solid #2F5A78;
}
input[type='text'],input[type=]{
    border: 1px solid #2F5A78 ;
    width: 150px;
    margin-bottom: 5px;
    padding: 5px;
}
input[type='submit']{
    background-color:#2F5A78;
    border:none;
    border-radius: 7px;
    padding: 7px 15px;
    color: white;
    margin-bottom: 7px;
}
input[type='submit']:hover{
    background-color: white;
    color:black;
    border: 1px solid #356384 
}
textarea{
      border: 1px solid #2F5A78 ;
    width: 203px;
    margin-bottom: 5px;
    padding: 5px;
}
label{
    color:#2F5A78;
    font-weight: bold;
}
table { 
  border-collapse: collapse; 
} 
td, th { 
  border:1px solid #000000; 
  padding: 5px;
} 
th { 
  background-color: #2F5A78; 
  color: #FFFFFF;
}
#position{
    font-size: 18px;
    font-weight: bold;
}
.summary{
    font-size: 16px;
    line-height:20px;
    
}
h2{
    color:#14649c ;
    font-size: 20px;
}
body{
    background-image: linear-gradient(rgb(196, 197, 196), rgb(122, 27, 163));
   margin: 0 0 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#summarysection{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
.objectives{
    margin-left: 10;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}
#copyright{
    text-align:center ;
}
section, footer{
    padding: 2px 10px;
}
ul{
    margin-bottom:5px;
}
footer{
   background-color: #191818cb;
}
footer a{
     color: black;
  text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
.welcome {
    overflow:hidden;
    width: 100%;
    height: 300px;
    /* background-image: linear-gradient(to right, rgb(77, 194, 218), white ); */
    /* background-color: rgb(77, 194, 218); */
    /* border-bottom:solid rgb(49, 19, 19); */


}
.welcome .main{
    z-index: 9;
    overflow: hidden;
   margin-top: 70px;
    z-index: 9;
    font-size: 700%;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.welcome .submain{
    z-index: 9;
    font-size: 300%;
    justify-content: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.introduction{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    display: flex;
}
.introduction .name{
    width: 70%;
    height: 250px;
    font-size: 500%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.introduction .ProfilePhoto{
    height: 250px;
    width: 300px;
}

.welcome .rings{
    opacity: 1;
    display: flex;
    background-color: darkcyan;
}

.welcome .one{
}